name: Release

on:
  push:
    branches:
      - main

jobs:
  release:
    name: Release
    runs-on: ubuntu-18.04
    env:
      HUSKY: 0
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: asdf_install
        uses: asdf-vm/actions/install@v1

      - uses: GoogleCloudPlatform/release-please-action@v2
        id: release
        with:
          release-type: node
          bump-minor-pre-major: true # remove this to enable breaking changes causing 1.0.0 tag

      # The logic below handles the npm publication:
      # The if statements ensure that a publication only occurs when a new release is created
      - uses: actions/checkout@v2
        if: ${{ steps.release.outputs.release_created }}

      - run: npm install
        if: ${{ steps.release.outputs.release_created }}

      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
        if: ${{ steps.release.outputs.release_created }}
